body {
    background-image: url("https://www.nag.com/sites/default/files/styles/banner/public/2020-08/machine-learning.jpeg?itok=4WFu3LAS");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#head{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 88vh;
}

header {
    float: left;
    width: 38%;
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 50px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px,0px,0px,0px;
}


#list h1{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    background-color: rgba(211, 189, 22, 0.831);
    margin:15px;
    display:inline-block;
    padding: 30px;
}

footer{
    float: left;
    font-family:'Times New Roman', Times, serif;
    width: 65%;
    color:darkgoldenrod;
}